body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 177px;
    left: 530px;
    right: 531px;
    bottom: 383;
    margin-bottom: 0;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    top: 233px;
    left: 344px;
    right: 344px;
    bottom: 177;
    margin-top: 0;
}

.wid {
   
    width: 1300px;
    height: 600px;
    border-radius: 16px;

}

.image {
    position: relative;
    margin: 50px 140px;
   

}
.photo{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.div {
    display: flex;
  
}

.about {
    padding: 0;
    width: 1590px;
    height: 900px;
    background-color: #FFF;
}

.section-title {
    color: #F00;
    text-align: center;
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 0;
}

.section-description {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    left: 88px;
    right: 107px;
}

.section-info {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.sec-img {
    margin: 40px 390px 40px 390px;
}

.div-img {
    margin: 50px 140px;
    position: relative;display: flex;
}
.ballon{
    position: absolute;display: flex;padding-left: 1000px;margin-right: 100px;padding-top: 80px;
}
.vector {
    width: 1300px;
    height: 600px;
    border-radius: 16px;

}

.main {
    display: flex;
}

.p-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    left: 126px;
    right: 550px;
    top: 126px;
    bottom: 296px;
    position: absolute;
    margin-bottom: 20PX;

}

.p-des {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    left: 126px;
    right: 497px;
    top: 326px;
    bottom: 214px;
    position: absolute;
    text-align: left;
    margin-top: 30PX;
}

.now{
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
   background-color:black;
   
}
.linear
{margin: 50px 140px;width: 1300px;
    height: 400px;
    border-radius: 16px;background-color: rgb(229, 215, 197);
}
.style{
    color: #F00;
}
.fill{
    text-align: center;color: #070211;font-size: 32px;font-weight: 600;justify-content: space-around;top: 100px;right: 385px;bottom: 215px;left: 386px; padding-top: 50px;
}
.join{
    color: #FFF;text-align: center;font-size: 20px;font-weight: 700;display: inline-flex;padding: 16px 32px;justify-content: center;align-items: center;gap: 10px;border-radius: 8px;background: #F00;margin-top: 30px;
}
.white{
    background-color: #FFF;margin: 50px 140px;width: 1300px;
    height: 400px;
    border-radius: 16px;margin: 100px;
}
.png{
    margin-top: 100px;
}
.head{
    color: #F00;font-size: 24px;font-weight: 500;margin-bottom: 0px;
}
.title2{
    color: #070211;font-size: 48px;font-weight: 900;margin-top: 0px;margin-bottom: 0px;
}
.des2{
    color: rgba(7,2,17,0.60);font-size: 
    20px;font-weight: 400;margin-top: 0px;
}
.news{
    background-color: rgb(246, 222, 191);margin: 800px 140px;width: 1300px;
    height: 600px;
    border-radius: 16px;margin-bottom: 100px;}
.group{
    width: 150px;height: 150px; display: block;margin: auto
}
.div5{
    display: flex;
    justify-content: center;align-items: center;
}
.letter{
    color: #070211;text-align: center;font-size: 48px;font-weight: 900;margin-bottom: 0px;
}
.dolor{
    color: rgba(7,2,17,0.60); text-align: center;font-size: 20px;font-weight: 400;margin-top:20px;
}
.email{
    width: 640px;height: 69px;border-radius: 50px 0px 0px 50px;background: #FFF;
}
.subs{
color: #FFF;text-align: center;font-size: 20px;font-weight: 600;padding: 24px 56px;border-radius: 0px 50px 50px 0px;background: #F00;
}
.div7{
    display: flex;justify-content: center;align-items: center;
}
footer{
    width: 1600px;height: 609px;background: #070211;margin-top: 0px;
}
    
.p10{
    color: #FFF;font-size: 24px;font-weight: 500px;padding: 50px;
}
 .footer-1 {
    display: flex;
    justify-content: space-between;
 }
 .div8{
    padding-left:50px ;
 }
 .div10{
    padding-right: 60px;
 }
 hr{
    background-color: rgb(113, 113, 142); width: 1500px;height: 1px;
 }
 .icon{
    margin-top: 100px;display: flex;text-align: center;align-items: center;margin-bottom: 100px;justify-content: space-around;padding-bottom:0px ;
 }
.class{
padding-right: 50px;
}
.all{
    color: #FFF;font-size: 24px;font-weight: 500px;padding-left: 100px;margin: 10px;
}
.un{
padding-left: 60px;
}
.sub{
    color: #FFF;font-size: 24px;font-weight: 500px;padding-right: 100px;margin: 10px;
}
.hrc{
width: 1500px;height: 1px;background-color: rgb(113, 113, 142);
}
.soon{
    background-color: #FFF;height: auto;margin: 100px 140px;width: 1300px;
    height: 400px;
    border-radius: 16px;
}
 .coming{
    display: flex;
 }
 .comic{
    justify-content: left;padding-top: 100px;
 }.best{
    color: #F00;text-align: left;font-size: 24px;font-weight: 500; margin-bottom: 0px;
 }
 .come{
    color: #070211;font-size: 48px;font-weight: 900;margin-top: 0px;margin-bottom: 0px;
 }
 .dont{
    width: 393px;color: rgba(7,2,17,0.60);font-size: 20px;font-weight: 400;
 }
 .gifts{
    width: 364.844px;height:364.844px ;border-radius:364.844px ;
 }
 .radius{
    width: 420px;height: 420px;border-radius:420px ;border:15px solid #F00 ;
 }
 .year{
    color: #F00;font-size: 48px;font-weight: 700;margin-bottom: 0px;padding-bottom: 0px;padding-top: 60px;
 }
 .div16{
    justify-content: right;padding-left: 60px;
 }
 .k2{
    justify-content: left;margin-top: 0px;padding-top: 0px;
 }
 .sale{
    background-color: #FFF;width: 1300px;height: 600px;
    border-radius: 16px;
 }
 .holidays{
    display: block;margin: 100px;padding-left: 100px;
 }
 .functional{
    text-align: center;
 }
 .what{
    color: #070211;font-size: 24px;font-weight: 500;padding-bottom: 0px;margin-bottom: 0px;
 }
 .init{
    color: #070211;font-size: 72px;font-weight: 900;padding-top: 0px;margin-top: 0px;margin-bottom: 0px;
 }
 .rectangle{
    color: #F00;text-align: center;font-size: 72px;font-weight: 900;
 }
 .commit{
    color: rgba(7,2,17,0.60);text-align: center;font-size: 20px;font-weight: 500;margin-top: 0px;
 }
 .redme{
    width: 1320px;height: 229px;border-radius: 16px 0px 16px 16px;background: #F00;margin-top: 150px;
 }
 .div20{
    display: flex;
 }