body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 177px;
    left: 530px;
    right: 531px;
    bottom: 383;
    margin-bottom: 0;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    top: 233px;
    left: 344px;
    right: 344px;
    bottom: 177;
    margin-top: 0;
}

.wid {
   
    width: 1300px;
    height: 600px;
    border-radius: 16px;

}

.image {
    position: relative;
    margin: 50px 140px;
   

}
.photo{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.div {
    display: flex;
  
}

.about {
    padding: 0;
    width: 1590px;
    height: 900px;
    background-color: #FFF;
}

.section-title {
    color: #F00;
    text-align: center;
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 0;
}

.section-description {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    left: 88px;
    right: 107px;
}

.section-info {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.sec-img {
    margin: 40px 390px 40px 390px;
}

.div-img {
    margin: 50px 140px;
    position: relative;
}

.vector {
    width: 1300px;
    height: 600px;
    border-radius: 16px;

}

.main {
    display: flex;
}

.p-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    left: 126px;
    right: 550px;
    top: 126px;
    bottom: 296px;
    position: absolute;
    margin-bottom: 20PX;

}

.p-des {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    left: 126px;
    right: 497px;
    top: 326px;
    bottom: 214px;
    position: absolute;
    text-align: left;
    margin-top: 30PX;
}

button {
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
   background-color:black;
    left: 158px;
    right: 1058px;
    top: 434px;
    bottom: 141px;
}
.linear{background-color:rgb(200, 182, 182); margin: 50px 140px;width: 1300px;
    height: 400px;
    border-radius: 16px;
}
.style{
    color: #F00;
}
.fill{
    text-align: center;color: #070211;font-size: 32px;font-weight: 600;justify-content: space-around;top: 100px;right: 385px;bottom: 215px;left: 386px; padding-top: 50px;
}
.join{
    color: #FFF;text-align: center;font-size: 20px;font-weight: 700;display: inline-flex;padding: 16px 32px;justify-content: center;align-items: center;gap: 10px;border-radius: 8px;background: #F00;margin-top: 30px;
}
.white{
    background-color: #FFF;margin: 50px 140px;width: 1300px;
    height: 400px;
    border-radius: 16px;
}
.png{
    margin-top: 100px;
}
.head{
    color: #F00;font-size: 24px;font-weight: 500;margin-bottom: 0px;
}
.title2{
    color: #070211;font-size: 48px;font-weight: 900;margin-top: 0px;margin-bottom: 0px;
}
.des2{
    color: rgba(7,2,17,0.60);font-size: 
    20px;font-weight: 400;margin-top: 0px;
}
.news{
    background-color: rgb(246, 222, 191);margin: 800px 140px;width: 1300px;
    height: 600px;
    border-radius: 16px;margin-bottom: 100px;}
.group{
    width: 150px;height: 150px; display: block;margin: auto
}
.div5{
    display: flex;
    justify-content: center;align-items: center;
}
.letter{
    color: #070211;text-align: center;font-size: 48px;font-weight: 900;margin-bottom: 0px;
}
.dolor{
    color: rgba(7,2,17,0.60); text-align: center;font-size: 20px;font-weight: 400;margin-top:20px;
}
.email{
    width: 648px;height: 72px;border-radius: 50px 0px 0px 50px;background: #FFF;
}
button{
color: #FFF;text-align: center;font-size: 20px;font-weight: 600;padding: 24px 56px;border-radius: 0px 50px 50px 0px;background: #F00;
}
.div7{
    display: flex;justify-content: center;align-items: center;
}
footer{
    width: 1600px;height: 609px;background: #070211;margin-top: 0px;
}
    
.p10{
    color: #FFF;font-size: 24px;font-weight: 500px;padding: 50px;
}
 .footer-1 {
    display: flex;
    justify-content: space-between;
 }
 .div8{
    padding-left:50px ;
 }
 .div10{
    padding-right: 60px;
 }

 